nav.navbar a {
	color: #fff !important;
}
body {
	padding-top: 50px;
	padding-bottom: 40px;
	color: #5a5a5a;
}
.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(24, 103, 160, 0.88);
	border-right: 1px solid #eee; 
}
.nav-sidebar {
	margin-right: -21px;
	margin-bottom: 20px;
	margin-left: -20px;
	font-size: 16px;
	font-weight: 700;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color: #fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
	color: #fff;
	background-color: rgba(24, 103, 160, 0.5);
}


.main {
	padding: 20px;
}
.main .page-header {
	margin-top: 0;
}